a {
  text-decoration: none;
  color: inherit;
  position: relative;
  top: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  color: navy;
}
.header-ttl {
  font-size: 24px;
  width: 80px;
}
.header-nav-list {
  display: flex;
  font-weight: bold;
}
.header-nav-item:not(:last-child) {
  margin-right: 30px;
}

#mainArea {
  position: right;
}

#mainArea img {
  height: 400px;
  position: relative;
  top: 100px;
  left: 700px;
  z-index: 10;
}

.text1 {
  text-align: left;
  font-weight: bold;
  font-size: 50px;
  position: absolute;
  left: 150px;
}

.box {
  background: navy;
  width: 950px;
  height: 200px;
  z-index: 0;
}
